<div class="sidebar-right">
  <div class="sponsor-container">
    <div class="sponsor">
      <img src="/images/logos/clients/viro.svg" alt="Viro">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/tentij.svg" alt="Tentij">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/kremers.svg" alt="Kremers">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/bakker.svg" alt="Bakker">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/armada.svg" alt="Armada">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/fysio.jpg" alt="Fysio bikefiting">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/poke.png" alt="Poke Perfect">
    </div>
    <!-- Duplicate the sponsor images for continuous scrolling -->
    <div class="sponsor">
      <img src="/images/logos/clients/viro.svg" alt="Viro">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/tentij.svg" alt="Tentij">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/kremers.svg" alt="Kremers">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/bakker.svg" alt="Bakker">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/armada.svg" alt="Armada">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/fysio.jpg" alt="Fysio bikefiting">
    </div>
    <div class="sponsor">
      <img src="/images/logos/clients/poke.png" alt="Poke Perfect">
    </div>
  </div>
</div>