<div class="sidebar-right-adverteerders">
  <div class="sponsor-container">
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Drallogo.png" alt="Dral">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/jonghs_verhuurservice.png" alt="jonghs">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-beekhoven-new.png" alt="beekhoven">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Beukers-Bike-Centre-Petten.png" alt="Beukers">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-broekhuis.png" alt="broekhuis">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Logo-House-of-Flowers.png" alt="HoF">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-peterbode-website.png" alt="PeterBode">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/vanderwerff.png" alt="vanderwerff">
    </div>
    <!-- Duplicate the sponsor images for continuous scrolling -->
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Drallogo.png" alt="Dral">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/jonghs_verhuurservice.png" alt="jonghs">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-beekhoven-new.png" alt="beekhoven">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Beukers-Bike-Centre-Petten.png" alt="Beukers">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-broekhuis.png" alt="broekhuis">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/Logo-House-of-Flowers.png" alt="HoF">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/logo-peterbode-website.png" alt="PeterBode">
    </div>
    <div class="sponsor">
      <img src="/images/logos/adverteerders/vanderwerff.png" alt="vanderwerff">
    </div>
  </div>
</div>