<div class="sidebar-right">
  <div class="sponsor-container">
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/Kauffman-vanseijst.png" alt="Kauffman van Seijst">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/Kremers.svg" alt="Kremers">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/armada.svg" alt="Armada Mobility">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/bakker.svg" alt="Bakker Heftrucks">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/fysio.jpg" alt="Fysio Bikefitting">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/poke.png" alt="Poke Perfect">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/tentij.svg" alt="Constructiebureau Tentij">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/va.png" alt="van Assema Schilders">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/viro.svg" alt="Viro">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Beukers-Bike-Centre-Petten.png" alt="Beukers Bike Center">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Drallogo.png" alt="Drall Fietsen">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/jonghs_verhuurservice.png" alt="Jongs verhuurservice">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-beekhoven-new.png" alt="Beekhoven">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-broekhuis.png" alt="Broekhuis">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Logo-House-of-Flowers.png" alt="House of Flowers">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-peterbode-website.png" alt="Peter Bode">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/vanderwerff.png" alt="van der Werf">
      </a>
    </div>
    <!-- Duplicate the sponsor images for continuous scrolling -->
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/Kauffman-vanseijst.png" alt="Kauffman van Seijst">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/Kremers.svg" alt="Kremers">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/armada.svg" alt="Armada Mobility">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/bakker.svg" alt="Bakker Heftrucks">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/fysio.jpg" alt="Fysio Bikefitting">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/poke.png" alt="Poke Perfect">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/tentij.svg" alt="Constructiebureau Tentij">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/va.png" alt="van Assema Schilders">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/clients/viro.svg" alt="Viro">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Beukers-Bike-Centre-Petten.png" alt="Beukers Bike Center">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Drallogo.png" alt="Drall Fietsen">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/jonghs_verhuurservice.png" alt="Jongs verhuurservice">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-beekhoven-new.png" alt="Beekhoven">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-broekhuis.png" alt="Broekhuis">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/Logo-House-of-Flowers.png" alt="House of Flowers">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/logo-peterbode-website.png" alt="Peter Bode">
      </a>
    </div>
    <div class="sponsor">
      <a href="/sponsoren">
        <img src="/images/logos/adverteerders/vanderwerff.png" alt="van der Werf">
      </a>
    </div>
  
  </div>
</div>