{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $page_url := index $section3 "page_url" }}
{{- $width    := index $section3 "width" }}
{{- $height   := index $section3 "height" }}
{{- $small_header := index $section3 "small_header" }}
{{- $adapt_container_width := index $section3 "adapt_container_width" }}
{{- $hide_cover := index $section3 "hide_cover" }}
{{- $show_facepile := index $section3 "show_facepile" }}

{{ if $section3 }}

<section class="section section-feature-grey is-medium" id="section3">
  <div class="container has-text-centered">
    <h1 class="title section-title">{{ $title }}</h1>
    <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    {{ partial "facebook_feed.html" (dict "page_url" $page_url "width" $width "height" $height "small_header" $small_header "adapt_container_width" $adapt_container_width "hide_cover" $hide_cover "show_facepile" $show_facepile) }}
  </div>
</section>
{{ end }}