<h3> Word lid van ZWC-DTS of vraag een proefles aan</h3>
Wilt u een proefles aanvragen of lid worden van Zaanlandse Wielerclub DTS? Kies een van de onderstaande opties:
<div class="buttons is-centered mt-5">
  <a href="/lid-worden" class="button is-primary is-medium">
    <span>Lid worden</span>
  </a>
  <a href="/proefles-jeugd" class="button is-info is-medium">
    <span>Proefles jeugd</span>
  </a>
  <a href="/proefles" class="button is-info is-medium">
    <span>Proefles</span>
  </a>
</div>