<form action="https://formspree.io/f/xyzawjjy" method="POST">
  <div class="field">
    <label class="label">Email:</label>
    <div class="control">
      <input class="input" type="email" name="email" id-="email" placeholder="Voer uw email adres in...">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Uw bericht:</label>
    <div class="control">
      <textarea class="textarea" name="message" id="message" placeholder="Uw bericht"></textarea>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Verstuur</button>
    </div>
  </div>
</form>