<form action="https://formspree.io/f/xjkveeav" method="POST">

  <div class="field">
    <label class="label">Email:</label>
    <div class="control">
      <input class="input" type="email" name="email" id-="email" placeholder="Voer uw email adres in...">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Voornaam:</label>
    <div class="control">
      <input class="input" type="Naam" name="Voornaam" id-="Voornaam" placeholder="Voer uw Voornaam in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Achternaam:</label>
    <div class="control">
      <input class="input" type="Naam" name="Achternaam" id-="Achternaam" placeholder="Voer uw Achternaam  in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Straat:</label>
    <div class="control">
      <input class="input" type="Naam" name="Straat" id-="Straat" placeholder="Voer uw Straatnaam in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Huisnummer:</label>
    <div class="control">
      <input class="input" type="Naam" name="Huisnummer" id-="Huisnummer" placeholder="Voer uw Huisnummer in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Postcode:</label>
    <div class="control">
      <input class="input" type="Naam" name="Postcode" id-="Postcode" placeholder="Voer uw Postcode in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Woonplaats:</label>
    <div class="control">
      <input class="input" type="Naam" name="Woonplaats" id-="Woonplaats" placeholder="Voer uw Woonplaats in...">
    </div>
  </div>
  <div class="field">
    <label class="label">Telefoonnummer:</label>
    <div class="control">
      <input class="input" type="Naam" name="Telefoonnummer" id-="telnr" placeholder="Voer uw Telefoonnummer in...">
    </div>
  </div>
  <div class="field">
    <label class="label">IBAN nummer:</label>
    <div class="control">
      <input class="input" type="Naam" name="IBAN" id-="IBAN" placeholder="Voer uw IBAN in...">
    </div>
  </div>
  <div class="field">
    <label class="label"> Rekening nummer ten name van:</label>
    <div class="control">
      <input class="input" type="Naam" name="RekeningHouder" id-="RekeningHouder" placeholder="Voer de naam van de rekening houder in...">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="label">Door op verstuur te drukken ga ik er mee akkoord dat ZWC-DTS uw gegevens verwerkt en jaarlijks via een automatisch incasso de contributie afschrijft van bovengenoemde rekeningnummer.</label>
      <button class="button is-primary" type="submit">Verstuur</button>
    </div>
  </div>
</form>