<form action="https://formspree.io/f/mrbqylnq" method="POST">

  <div class="field">
    <label class="label">Email:</label>
    <div class="control">
      <input class="input" type="email" name="email" id="email" placeholder="Voer uw email adres in..." required>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Voornaam:</label>
    <div class="control">
      <input class="input" type="text" name="Voornaam" id="Voornaam" placeholder="Voer uw Voornaam in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Achternaam:</label>
    <div class="control">
      <input class="input" type="text" name="Achternaam" id="Achternaam" placeholder="Voer uw Achternaam  in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Geslacht:</label>
    <div class="control">
      <div class="select">
        <select name="Geslacht" id="Geslacht" required>
          <option value="" disabled selected>Kies uw geslacht</option>
          <option value="Man">Man</option>
          <option value="Vrouw">Vrouw</option>
          <option value="Anders">Anders</option>
        </select>
      </div>
    </div>
    </div>
  <div class="field">
    <label class="label">Geboortedatum:</label>
    <div class="control">
      <input class="input" type="date" name="Geboortedatum" id="Geboortedatum" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Straat:</label>
    <div class="control">
      <input class="input" type="text" name="Straat" id="Straat" placeholder="Voer uw Straatnaam in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Huisnummer:</label>
    <div class="control">
      <input class="input" type="text" name="Huisnummer" id="Huisnummer" placeholder="Voer uw Huisnummer in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Postcode:</label>
    <div class="control">
      <input class="input" type="text" name="Postcode" id="Postcode" placeholder="Voer uw Postcode in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Woonplaats:</label>
    <div class="control">
      <input class="input" type="text" name="Woonplaats" id="Woonplaats" placeholder="Voer uw Woonplaats in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">Telefoonnummer:</label>
    <div class="control">
      <input class="input" type="tel" name="Telefoonnummer" id="telnr" placeholder="Voer uw Telefoonnummer in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label">IBAN nummer:</label>
    <div class="control">
      <input class="input" type="text" name="IBAN" id="IBAN" placeholder="Voer uw IBAN in..." required>
    </div>
  </div>
  <div class="field">
    <label class="label"> Rekening nummer ten name van:</label>
    <div class="control">
      <input class="input" type="text" name="RekeningHouder" id="RekeningHouder" placeholder="Voer de naam van de rekening houder in..." required>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="Akkoord" required>
        Door op verstuur te drukken ga ik er mee akkoord dat ZWC-DTS mijn gegevens verwerkt en jaarlijks via een automatisch incasso de contributie afschrijft van bovengenoemde rekeningnummer.
      </label>
    </div>
  </div>
  
  <input type="hidden" name="subject" value="Lidmaatschap aanvraag" />
  
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Verstuur aanvraag</button>
    </div>
  </div>
</form>