<form action="https://formspree.io/f/mrbqylnq" method="POST">
    <div class="field">
        <label class="label">Email ouder/verzorger:</label>
        <div class="control">
            <input class="input" type="email" name="email" placeholder="Voer uw email adres in..." required>
        </div>
    </div>

    <div class="field">
        <label class="label">Naam ouder/verzorger:</label>
        <div class="control">
            <input class="input" type="text" name="NaamOuder" placeholder="Voer uw naam in..." required>
        </div>
    </div>

    <div class="field">
        <label class="label">Voornaam kind:</label>
        <div class="control">
            <input class="input" type="text" name="VoornaamKind" placeholder="Voer de voornaam van uw kind in..."
                required>
        </div>
    </div>

    <div class="field">
        <label class="label">Achternaam kind:</label>
        <div class="control">
            <input class="input" type="text" name="AchternaamKind" placeholder="Voer de achternaam van uw kind in..."
                required>
        </div>
    </div>

    <div class="field">
        <label class="label">Geboortedatum kind:</label>
        <div class="control">
            <input class="input" type="date" name="GeboortedatumKind" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Telefoonnummer:</label>
        <div class="control">
            <input class="input" type="tel" name="Telefoonnummer" placeholder="Voer uw telefoonnummer in..." required>
        </div>
    </div>

    <div class="field">
        <label class="label">Jongen / Meisje</label>
        <div class="control">
            <div class="select" id="geslacht" name="Geslacht">
                <select name="Geslacht" required>
                    <option value="" disabled selected>Kies een optie</option>
                    <option value="Jongen">Jongen</option>
                    <option value="Meisje">Meisje</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Heeft ervaring met wielersport</label>
        <div class="control">
            <div class="select" id="ervaring" name="ervaring">
                <select name="ervaring" required>
                    <option value="" disabled selected>Kies een optie</option>
                    <option value="nee">Nee</option>
                    <option value="Wielrennen">Wielrennen</option>
                    <option value="Mountainbiken">Mountainbiken</option>
                    <option value="Baanwielrennen">Baanwielrennen</option>
                    <option value="BMX">BMX</option>
                    <option value="Cyclocross">Cyclocross</option>
                    <option value="anders">Anders</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Is lid van een wielrenverening geweest</label>
        <div class="control">
            <div class="select" id="lid" name="lid">
                <select name="lid" required>
                    <option value="" disabled selected>Kies een optie</option>
                    <option value="nee">Nee</option>
                    <option value="ja">Ja</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Zo ja met welke?</label>
        <div class="control">
            <input class="input" type="text" name="Lidmaatschap" placeholder="Voer de naam van de vereniging in..." >
        </div>
    </div>

    <div class="field">
        <label class="label">Overige opmerkingen:</label>
        <div class="control">
            <textarea class="textarea" name="Opmerkingen" placeholder="Heeft u nog vragen of opmerkingen?"></textarea>
        </div>
    </div>

    <input type="hidden" name="subject" value="Proefles jeugd aanvraag" />

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="Toestemming" required>
                Ik geef toestemming voor deelname van mijn kind aan een proefles bij ZWC-DTS en de verwerking van zijn/haar gegevens door ZWC-DTS. 
            </label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Verstuur aanvraag</button>
        </div>
    </div>
</form>